@import "../../variables";


.x-switch:not(.raw) {
  &.ant-switch {
    // 主色调更改
    &.ant-switch-checked {
      background-color: $color-primary-blue;
    }

    // 【禁用】、【加载】时，透明度更改
    &.ant-switch-loading, &.ant-switch-disabled {
      cursor: not-allowed;
      opacity: 0.3;
    }
  }
}
