@import '../variables';
@import '../mixins';

.smartui-card:not(.raw) {
  &.ant-card {
    border-radius: 4px;
    border: 1px solid rgba($color-line-bold, .5);
    box-shadow: none;

    .ant-card-body {
      padding: 15px 15px 15px 15px;
    }
  }
}