@import '../variables';
@import '../mixins';

.smartui-checkbox:not(.raw) {
  &.ant-checkbox-wrapper {
    // 默认状态
    .ant-checkbox {
      .ant-checkbox-inner {
        border: 2px solid $color-primary-blue;
        border-radius: 3px;
        width: 14px;
        height: 14px;
        overflow: hidden;
      }
    }
    // 选中状态
    .ant-checkbox-checked {
      .ant-checkbox-inner {
        background-color: $color-primary-blue;
        &:after {
          border-width: 1px;
          top: 5px;
          left: 3px;
          width: 4px;
          height: 6px;
        }
      }
    }
  }
}