@import '../variables';
@import '../mixins';
@mixin checkbox-style {
  // 默认状态
  .#{$ant-prefix}-checkbox {
    .#{$ant-prefix}-checkbox-inner {
      border: 2px solid $color-primary-blue;
      border-radius: 3px;
      width: 14px;
      height: 14px;
      overflow: hidden;
    }
  }
  // 选中状态
  .#{$ant-prefix}-checkbox-checked {
    .#{$ant-prefix}-checkbox-inner {
      background-color: $color-primary-blue;
      &:after {
        border-width: 1px;
        top: 5px;
        left: 3px;
        width: 4px;
        height: 6px;
      }
    }
  }
}
.smartui-checkbox:not(.raw) {
  &.#{$ant-prefix}-checkbox-wrapper {
    @include checkbox-style;
  }
}