.smartui-drawer:not(.raw) {
  .ant-drawer-content-wrapper .ant-drawer-content .ant-drawer-wrapper-body {
    .ant-drawer-header {
      // 去掉默认的线
      border-bottom: none;
      padding: 23px 40px 13px;
      margin: 0;

      // 标题文字
      .ant-drawer-title {
        font-size: 18px;
        color: $color-primary-black;
        font-weight: 400;
      }
      // 关闭按钮
      .ant-drawer-close {
        width: 38px;
        height: 38px;
        top: 23px;
        right: 30px;
      }
    }
  }

  // 关闭按钮样式替换遮罩
  .close-btn-wrapper {
    position: absolute;
    top: 23px;
    right: 30px;
    background: white;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 11;

    .close-icon {
      stroke: $color-primary-black;
      fill: $color-primary-black;
      color: $color-primary-black;
    }
  }

  .ant-drawer-body {
    padding: 0 40px;
  }

  .ant-drawer-mask {
    background-color: rgba(234, 234, 234, 0.8);
  }

  // 默认不遮盖 header
  .ant-drawer-right {
    top: 60px;
    height: calc(100% - 60px)
  }

  // 例外情况，遮盖 header
  &[fullScreen="true"] {
    .ant-drawer-content-wrapper {
      top: 0;
    }
  }
}
