@import '../variables';
@import '../mixins';

.smartui-empty:not(.raw) {
  &.ant-empty {
    .ant-empty-image {
      height: auto;
    }
    .ant-empty-description {
      color: $color-primary-black;
      font-size: 18px;
      font-weight: normal;
    }
  }
}
