@import '../variables';
@import '../mixins';


.smartui-number-input:not(.raw) {
  margin-left: 45px;
  margin-right: 45px;
  width: 120px;
  height: 32px;
  border-radius: 4px;

  .#{$ant-prefix}-input-number-handler[aria-disabled="true"] {
    color: #D5D8DB !important;
    border-color: #D5D8DB !important;
    cursor: not-allowed !important;
  }

  .#{$ant-prefix}-input-number-input {
    text-align: center;
  }

  .#{$ant-prefix}-input-number-handler-wrap {
    opacity: 1;
    background: transparent;
    width: 100%;
    border: none;
    pointer-events: none;
  }

  .#{$ant-prefix}-input-number-handler {
    pointer-events: all;
    width: 32px;
    height: 32px !important;
    border: 1px solid #282B2E;
    border-radius: 4px;
    top: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #282B2E;

    .anticon {
      display: none;
    }

    &-up {
      position: absolute;
      left: calc(100% + 10px);

      &:after {
        content: '+';
        font-size: 18px;
        font-weight: 400;
      }
    }

    &-down {
      position: absolute;
      left: -46px;

      &:after {
        content: '-';
        font-size: 24px;
        font-weight: 400;
        margin-top: -2px;
      }
    }
  }
}
