@import '../variables';
@import '../mixins';

.#{$ant-prefix}-message {
  @include font-normal;
}
.#{$ant-prefix}-message-notice-content {
  padding: 0;

  .#{$ant-prefix}-message-custom-content {
    display: inline-flex;
    align-items: center;
  }
}

.#{$ant-prefix}-message-custom-content {
  border-radius: 4px;
  padding: 10px 16px;
}

.#{$ant-prefix}-message-success {
  color: $color-success-text;
  background-color: rgba($color-success, .2);
}

.#{$ant-prefix}-message-error {
  color: $color-danger;
  background-color: rgba($color-danger, .2);
}

.#{$ant-prefix}-message-warning {
  color: $color-warn-text;
  background-color: rgba($color-warn, .2);
}

.#{$ant-prefix}-message-info {
  color: $color-primary-blue;
  background-color: rgba($color-primary-blue, .2);
}



