.smartui-spin:not(.raw) {
  &.ant-spin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .ant-spin-dot {
      transform: (-50%, -50%);
      margin: 0;
    }
    .ant-spin-text {
      padding-top: 30px;
    }
  }
}