@import '../variables';
@import '../mixins';

.smartui-table:not(.raw) {
  &.ant-table-wrapper {
    .ant-table-content {
      padding: 0 25px;
    }
    .ant-table-thead > tr > th {
      background-color: white;
      color: $color-text-comment;
      padding: 7px 0;
      font-weight: normal;
      font-size: 12px;
    }
    .ant-table-tbody > tr {
      position: relative
    }
    .ant-table-tbody > tr:hover > td:first-of-type:after {
      position: absolute;
      pointer-events: none;
      content: '';
      width: calc(100% + 40px);
      top: 0;
      left: -20px;
      height: 100%;
      border: 1px solid $color-text-comment;
      border-radius: 4px;
    }
    .ant-table-tbody > tr > td {
      background-color: white;
      font-size: 14px;
      padding: 0;
      padding-right: 20px;
      height: 70px;

      &.ant-table-selection-column {
        padding-right: 0;
      }

      .ant-btn-link {
        padding: 0;
      }
    }
    .ant-table-tbody > tr:hover > td {
      background-color: white;
    }
  }
}