.smartui-date-picker-common:not(.raw) {
  display: inline-block;
  position: relative;

  .anticon-calendar {
    transition: .35s opacity;
  }

  .anticon-close-circle, .close-container {
    display: none;
  }

  &.selected svg.icon.ant-calendar-picker-icon {
    opacity: 0;
  }

  &.selected:hover {
    .anticon-calendar {
      opacity: 0;
    }

    .close-container {
      opacity: 1;
    }
  }

  &.selected .close-container {
    position: absolute;
    right: 0px;
    top: 15px;
    bottom: 15px;
    display: flex;
    align-items: center;
    opacity: 0;
    z-index: 2;
    cursor: pointer;

    & .icon {
      cursor: pointer;
    }

    &:hover .icon {
      cursor: pointer;
      stroke: #85888C !important;
      pointer-events: none;
    }
  }
}
