@import '../../variables';
@import '../../mixins';
@import './arrow';

.x-popover:not(.raw) {
  // 通用配置
  &.#{$ant-prefix}-popover {
    // 内容
    .#{$ant-prefix}-popover-inner {
      background-color: white;
      border-radius: 4px;
      padding: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
    .#{$ant-prefix}-popover-arrow {
      .#{$ant-prefix}-popover-arrow-content {
        background-color: white;
      }
    }
  }
  // 不同方向的特殊配置
  &.#{$ant-prefix}-popover-placement-topLeft {
    @include arrow('top', 'left');
  }

  &.#{$ant-prefix}-popover-placement-topRight {
    @include arrow('top', 'right');
  }

  &.#{$ant-prefix}-popover-placement-bottomLeft {
    @include arrow('bottom', 'left');
  }

  &.#{$ant-prefix}-popover-placement-bottomRight {
    @include arrow('bottom', 'right');
  }

  &.#{$ant-prefix}-popover-placement-leftTop {
    @include arrow('left', 'top');
  }

  &.#{$ant-prefix}-popover-placement-leftBottom {
    @include arrow('left', 'bottom');
  }

  &.#{$ant-prefix}-popover-placement-rightTop {
    @include arrow('right', 'top');
  }

  &.#{$ant-prefix}-popover-placement-rightBottom {
    @include arrow('right', 'bottom');
  }
}
