@import '../../variables';
@import '../../mixins';

@mixin table-editable {
  &.smartui-table-edit {
    .#{$ant-prefix}-table-wrapper {
      height: calc(100% - 40px) !important;
      max-height: calc(100% - 40px) !important;

      .#{$ant-prefix}-spin-nested-loading {
        height: 100%;
        //max-height: calc(100% - 40px);
        .#{$ant-prefix}-spin-container {
          height: 100%;
        }
      }
    }

    &,
    &.#{$ant-prefix}-table-wrapper .#{$ant-prefix}-spin-nested-loading .#{$ant-prefix}-spin-container {
      .#{$ant-prefix}-table {
        height: 100%;
        border-bottom: none;

        .#{$ant-prefix}-table-content {
          height: 100%;


          .#{$ant-prefix}-table-scroll {
            height: 100%;

            .#{$ant-prefix}-table-header.#{$ant-prefix}-table-hide-scrollbar {
              margin: 0 !important;
              overflow: auto !important;
              border-top: 1px solid $color-line-bold;
            }
          }

          .#{$ant-prefix}-table-body {
            max-height: calc(100% - 40px) !important;
            overflow: auto !important;

            .td-with-divider {
              > .#{$ant-prefix}-select,
              > .#{$ant-prefix}-input,
              > .#{$ant-prefix}-form .#{$ant-prefix}-input{
                margin-right: 10px !important;
                margin-left: -10px !important;
              }
            }

            .#{$ant-prefix}-select {
              width: 100% !important;
            }

            .#{$ant-prefix}-select:not(:hover):not(:focus):not(:active):not([disabled]):not(.#{$ant-prefix}-select-open) {
              width: auto !important;
            }

            .#{$ant-prefix}-select.#{$ant-prefix}-select-focused:not(.#{$ant-prefix}-select-open):not(:hover):not(:focus):not(:active):not([disabled]) {
              .#{$ant-prefix}-select-selector {
                box-shadow: none !important;
              }
            }
          }
        }
      }
    }
  }
}
