@mixin empty {
  &.x-ant-table-empty {
    .ant-spin-nested-loading {
      height: 100%;
      .ant-spin-container {
        height: 100%;
        .ant-table-empty {
          height: 100%;
          .ant-table-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            .ant-table-body {
              flex-shrink: 0;
            }
            .ant-table-placeholder {
              display: none;
            }
            .ant-table-footer {
              flex-grow: 1;
              display: flex;
              align-items: center;
              justify-content: center;
              border-bottom: 1px solid transparent;
            }
          }
        }
      }
    }
  }
}