@import '../../variables';
@import '../../mixins';

@mixin filter-icon {
  &.ant-table-column-has-filters {
    .ant-table-header-column {
      display: none;
    }
  }
  &.ant-table-column-has-actions.ant-table-column-has-filters:hover .anticon-filter:hover,
  &.ant-table-column-has-actions.ant-table-column-has-filters:hover .ant-table-filter-icon:hover {
    color: $color-primary-blue;
    background-color: transparent;
  }
  .ant-table-filter-icon {
    align-items: center;
    justify-content: flex-start;
    position: static;
    display: inline-flex;
    height: auto;
    width: 100%;
    margin-left: 0;
    color: $color-text-comment;

    .btn-filter-icon {
      position: static;
      margin-top: 0;
      margin-left: 0;
      flex-shrink: 0;
    }

    &.ant-table-filter-selected {
      color: $color-primary-blue
    }
  }
  &.ant-table-column-has-actions.ant-table-column-has-filters .anticon-filter.ant-table-filter-open,
  &.ant-table-column-has-actions.ant-table-column-has-filters .ant-table-filter-icon.ant-table-filter-open {
    color: $color-primary-blue;
    background-color: transparent;
  }
}

@mixin filter-dropdown {
  .ant-table-filter-dropdown {
    max-height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .filter-container {
      padding: 10px;

      .filter-item {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 4px !important;
        margin-bottom: 5px;
        height: 32px;
        line-height: 32px;
        cursor: pointer;

        &:hover {
          background-color: $color-primary-blue-light;
        }

        &-selected {
          background-color: white;
          color: $color-primary-blue;
        }
      }
    }
    .filter-multiple-confirm-btn {
      display: block;
      margin-bottom: 10px;
      align-self: flex-end;
      height: 18px !important;
    }
  }
}