@import '../../variables';
@import '../../mixins';
@import './fixed-table.scss';
@import './table-with-divider.scss';

.smartui-table:not(.raw) {
  &.ant-table-wrapper {
    // 有固定列的表格hover样式
    .ant-table.ant-table-layout-fixed {
      @include fixed-table-row-hover
    }
    // 无固定列的表格hover样式
    .ant-table:not(.ant-table-layout-fixed) {
      .ant-table-tbody > tr:hover > td:first-of-type:before {
        position: absolute;
        pointer-events: none;
        content: '';
        width: 100%;
        top: 0;
        left: 0px;
        height: 100%;
        border: 1px solid $color-text-comment;
        border-radius: 4px;
      }
    }
    // 表格与外部容器的间距
    .ant-table-content {
      padding: 0 25px;
    }
    // 表头thead
    .ant-table-thead > tr > th {
      background-color: white;
      position: relative;
      color: $color-text-comment;
      padding-top: 7px;
      padding-bottom: 7px;
      font-weight: normal;
      font-size: 12px;
    }
    // thead with divider 
    .ant-table-thead > tr.thead-tr-with-divider {
      th:before {
        @include th-with-divider
      }
      th:last-of-type:before, th.ant-table-selection-column:before {
        display: none;
      }
    }
    // 表格tr
    .ant-table-tbody > tr {
      position: relative
    }
    // 表格td
    .ant-table-tbody > tr > td {
      background-color: white;
      font-size: 14px;
      padding: 25px 15px;
      height: 70px;
      
      // td中的btn-link配置
      .ant-btn-link {
        padding: 0;
      }
      // td with divider配置
      @include td-with-divider;
    }
    // 取消默认的表格hover样式
    .ant-table-tbody > tr:hover > td {
      background-color: white;
    }
  }
}