@import '../../variables';
@import '../../mixins';
@import './fixed-table.scss';
@import './table-with-divider.scss';
@import '../XCheckbox.scss';
@import './filter.scss';
@import './sort.scss';
@import './empty.scss';
@import './pagination.scss';

.smartui-table:not(.raw) {
  &.ant-table-wrapper {
    // 表格空状态
    @include empty;
    // 有固定列的表格hover样式
    .ant-table.ant-table-layout-fixed {
      @include fixed-table-row-hover
    }
    // 无固定列的表格hover样式
    .ant-table:not(.ant-table-layout-fixed) {
      .ant-table-tbody > tr:hover > td {
        border-color: transparent;
      }
      .ant-table-tbody > tr:hover + tr > td {
        border-color: transparent;
      }
      .ant-table-tbody > tr:hover > td:first-of-type:before {
        position: absolute;
        pointer-events: none;
        content: '';
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        border: 1px solid $color-text-comment;
        border-radius: 4px;
      }
    }
    .ant-table .ant-table-tbody > tr.unhoverable > td:before {
      border: none !important;
    }

    // 表格与外部容器的间距
    .ant-table-content {
      overflow-x: auto;
    }

    // 表头thead
    .ant-table-thead > tr > th {
      background-color: white;
      position: relative;
      color: $color-text-comment;
      padding: 10px 15px;
      font-weight: normal;
      font-size: 12px;
      border-color: transparent;

      // 表头筛选图标
      @include filter-icon;

      // 表头排序图标
      @include sort;

    }
    // thead with divider
    .ant-table-thead > tr.thead-tr-with-divider {
      th:before {
        @include th-with-divider
      }
      th:last-of-type:before, th.ant-table-selection-column:before {
        display: none;
      }
    }

    // 表格tr
    .ant-table-tbody > tr {
      position: relative;
    }
    // 表格td
    .ant-table-tbody > tr > td {
      background-color: white;
      @include font-normal();
      // 单行时，vertical-align: middle 会居中
      // 多行时，行高撑大，padding 为 5
      padding: 5px 15px;
      // height can be treat as min-height in table-cell
      height: 45px;
      border-bottom: none;
      border-top: 1px solid;
      border-color: $color-line-bold;

      // td中的btn-link配置
      .ant-btn-link {
        padding: 0;
      }
      // td with divider配置
      @include td-with-divider;
    }
    // fixed table divider
    .ant-table.ant-table-layout-fixed {
      @include fixed-table-divider
    }
    // 取消默认的表格hover样式
    .ant-table-tbody > tr:hover > td {
      background-color: white;
    }
    // 选择框与x-checkbox样式一致
    .ant-table-selection, .ant-table-selection-column {
      @include checkbox-style;
    }
    // footer
    .ant-table-footer {
      background-color: white;
    }
    // 分页
    @include pagination;
  }

  // 当作为页面级元素时的border配置（border: true）
  &.smartui-table-border.ant-table-wrapper {
    .ant-table {
      padding: 10px;
      border-radius: 4px;
      border: 1px solid rgba($color-line-bold, .5);
    }
  }
}

// 筛选下拉框
@include filter-dropdown
