@import '../../variables';
@import '../../mixins';

@mixin sort {
  &.#{$ant-prefix}-table-column-has-sorters {
    .#{$ant-prefix}-table-column-sorters:hover {
      color: $color-primary-blue;
      &:before {
        background: transparent;
      }
    }
    .#{$ant-prefix}-table-column-sorter {
      .#{$ant-prefix}-table-column-sorter-inner {
        position: relative;
        width: 18px;
        height: 18px;
        color: $color-text-comment;
        .btn-sort-icon {
          position: absolute;
          top: 0;
          left: 0;
          color: $color-text-comment;
        }
        .#{$ant-prefix}-table-column-sorter-up {
          position: absolute;
          top: 1px;
          left: -6px;

          .btn-sort-icon-asc { display: none; }
          .btn-sort-icon-desc { display: none; }
        }
        .#{$ant-prefix}-table-column-sorter-down {
          position: absolute;
          top: -1px;
          left: -6px;

          .btn-sort-icon { display: none; }
          .btn-sort-icon-asc { display: none; }
          .btn-sort-icon-desc { display: none; }
        }
      }
    }
  }

  // 处于排序状态
  &.#{$ant-prefix}-table-column-has-sorters.#{$ant-prefix}-table-column-sort {
    .#{$ant-prefix}-table-column-title {
      color: $color-primary-blue;
    }
    .#{$ant-prefix}-table-column-sorter {
      .#{$ant-prefix}-table-column-sorter-inner {
        .#{$ant-prefix}-table-column-sorter-up {
          .btn-sort-icon { display: none; }
          &.on {
            .btn-sort-icon-asc { display: inline; }
          }
        }
        .#{$ant-prefix}-table-column-sorter-down {
          &.on {
            .btn-sort-icon-desc { display: inline; }
          }
        }
      }
    }
  }

}