@mixin td-with-divider {
  position: relative;
  padding-right: 10px;

  &:after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: $color-line-bold;
    top: 6px;
    bottom: 6px;
    right: 0;
  }
  &:last-of-type:after {
    display: none;
  }
}

@mixin th-with-divider {
  &:before {
    content: '';
    height: calc(100% - 10px);
    width: 1px;
    background: $color-line-bold;
    position: absolute;
    top: 5px;
    right: 0;
  }
}