@mixin td-with-divider {
  .td-with-divider {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .td-with-divider:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: $color-line-bold;
    top: 0px;
    right: -15px;
  }
  &:last-of-type .td-with-divider:after {
    display: none;
  }
}

@mixin th-with-divider {
  content: '';
  height: calc(100% - 10px);
  width: 1px;
  background: $color-line-bold;
  position: absolute;
  top: 5px;
  right: 0;
}