//  -----颜色-----
// 主色调
$color-primary-blue: #4285F4; // 主色调-蓝色
$color-primary-orange: #F5991B; // 主色调-橙色
$color-primary-black: #282B2E;

// 搭配色
$color-assist-green: rgba(160, 215, 68, 1);
$color-assist-green-light: rgba(160, 215, 68, 0.3);
$color-assist-purple: rgba(163, 127, 255, 1);
$color-assist-purple-light: rgba(163, 127, 255, 0.3);

// 文字颜色
$color-text: $color-primary-black; // 正文
$color-text-comment: #B1B2B5; // 注释

// 背景颜色
$color-bg: linear-gradient(0deg, #F1F1F1 57.89%, #FFFFFF 92.8%, #FFFFFF 95.08%);

// 分割线颜色
$color-line-light: #f6f6f6; // 分割线-浅
$color-line-bold: #eaeaea; // 分割线-深
$color-line-black: $color-primary-black; // 分割线-黑

// 提示色
$color-success: rgba(68, 215, 182, 1); // 成功
$color-success-light: rgba(68, 215, 182, 0.3); // 成功-浅
$color-danger: rgba(215, 68, 114, 1); // 危险
$color-danger-light: rgba(215, 68, 114, 0.3);
$color-warn: rgba(215, 201, 68, 1); // 警告
$color-warn-light: rgba(215, 201, 68, 0.3); //警告-浅

//  -----字体-----
// 字号
$font-size-large: 18px;
$font-size-normal: 14px;
$font-size-small: 12px;

// 行高
// apply to font size: small & normal
$font-line-height-normal: 1.4;
// apply to font size: large
$font-line-height-small: 1.333;

// ----- svg ------
$svg-width-normal: 18px;
$svg-height-normal: 18px;

//  -----开发-----
//$ant-prefix: ant;
//$ant-custom-prefix: x-ant;





