// ant 前缀
$ant-prefix: 'antv';
$ant: $ant-prefix;

//  -----颜色-----
// 主色调
$color-primary-blue: #336CFF; // 主色调-蓝色
$color-primary-blue-heavy: #4343FF; // 主色调-蓝色
$color-primary-blue-20p: rgba(51, 108, 255, 0.2); // 主色调-蓝色-20%
$color-primary-blue-light: rgba(51, 108, 255, 0.2);
$color-primary-orange: #F5991B; // 主色调-橙色
$color-primary-black: #282B2E;

// 搭配色
$color-assist-green: rgba(160, 215, 68, 1);
$color-assist-green-light: rgba(160, 215, 68, 0.3);
$color-assist-purple: rgba(163, 127, 255, 1);
$color-assist-purple-light: rgba(163, 127, 255, 0.3);

// 文字颜色
$color-text: $color-primary-black; // 正文
$color-text-gray: #85888C; // 灰色
$color-text-sub: $color-text-gray;
$color-text-comment: $color-text-gray; // 注释

// 背景颜色
$color-bg: linear-gradient(0deg, #F1F1F1 57.89%, #FFFFFF 92.8%, #FFFFFF 95.08%);

// 分割线颜色
$color-line-light: #f6f6f6; // 分割线-浅
$color-line-bold: #D5D8DB; // 分割线-深
$color-line-bold-50p: rgba(213, 216, 219, 0.5); // 分割线-深-50%
$color-line-black: $color-primary-black; // 分割线-黑

// 提示色
$color-success: rgba(68, 215, 182, 1); // 成功
$color-success-text: rgba(65, 181, 155, 1); // 字体颜色
$color-success-light: rgba(68, 215, 182, .2); // 成功-浅
$color-danger: rgba(215, 68, 114, 1); // 危险
$color-danger-light: rgba(215, 68, 114, 0.2);
$color-warn: rgba(215, 201, 68, 1); // 警告
$color-warn-text: rgba(204, 162, 54, 1); // 警告
$color-warn-light: rgba(215, 201, 68, 0.2); //警告-浅

//  -----字体-----
// 字号
$font-size-large: 18px;
$font-size-big: 16px;
$font-size-normal: 13px;
$font-size-small: 12px;

// 行高
$font-line-height-small: 16px;
$font-line-height-normal: 20px;
$font-line-height-big: 22px;
$font-line-height-large: 24px;

// ----- svg ------
$svg-width-normal: 18px;
$svg-height-normal: 18px;

//  -----开发-----
//$ant-prefix: ant;
//$ant-custom-prefix: x-ant;





