@import "../../styles/variables.scss";

.lava-auth-of-object-drawer-inside {

  .controls {
    display: flex;
    margin-bottom: 20px;
  }

  .type-selector {
    flex-basis: 100px;

    .#{$ant-prefix}-select-selector {
      padding-left: 0!important;
    }
  }

  .action-selector {
    // select 前缀图标样式重写
    // 为什么要用 + 选择器？
    // 因为 x-select 把前缀图标的类定义到自定义 class 的外部了，
    // 导致 action-selector 内部控制不到
    &+.smartui-select-prefix-icon {
      left: 0;
    }

    .#{$ant-prefix}-select-selector {
      padding-left: 23px!important;
    }

    // 不过最好在里面也写一遍，以防以后 x-select 重构，把 action-selector 移进来
    .smartui-select-prefix-icon {
      left: 0;
    }

    // 标签样式
    &.#{$ant-prefix}-select-multiple {

      .#{$ant-prefix}-select-selection-item {
        background-color: rgba(213, 216, 219, 0.5);
      }

      .#{$ant-prefix}-select-selection-item-remove svg {
        color: $color-text-sub;
      }
    }
  }

  label {
    color: $color-text-sub;
  }

  // select 样式重写
  .#{$ant-prefix}-select {

    &.#{$ant-prefix}-select-disabled .#{$ant-prefix}-select-selection-placeholder {
      color: $color-line-bold;
    }

    &.#{$ant-prefix}-select-multiple .#{$ant-prefix}-select-selection-placeholder {
      left: 25px;
    }
  }

  .submit {
    position: absolute;
    left: 40px;
    bottom: 20px;
  }
}

.lava-auth-of-object-drawer-inside-type-list-selector-dropdown {
  .avatar {
    width: 19px;
    height: 19px;
    margin-right: 5px;
  }

  .name {
    font-size: $font-size-normal;
    line-height: 20px;
    vertical-align: middle;
  }

  .remark {
    color: rgba(133, 136, 140, 1);
    font-size: $font-size-normal;
  }
}
